<form action="" method="post">
    {{form.hidden_tag()}}
   <p> {{form.email(placeholder="email")}}</p>


    {% if error %}
    <span style="color: red;">[{{error}}]</span>
    {% endif %}

   {% for error in form.errors.email %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}
    
    <p> {{form.password(placeholder="password")}} </p>
       {% for error in form.errors.password %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}
    
    <p> {{form.confirm(placeholder="repeat password")}} </p>
       {% for error in form.errors.confirm %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}<br>
    
    <p><input type="submit" value="Register"></p>
</form>

